<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Produkty</h1>
<div class="products">
    <div class="product" th:each="product : ${products}">
        <img src="/images/default.jpg" alt="Zdjęcie produktu" />
        <h4 th:text="${product.name}">Nazwa</h4>
        <p th:text="${product.price} + ' zł'">Cena</p>
        <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
            <button type="submit">Dodaj do koszyka</button>
        </form>
        <form th:action="@{/cart/add}" method="post">
            <input type="hidden" name="productId" th:value="${product.id}" />
            <input type="hidden" name="userId" value="1" /> <!-- tymczasowo na sztywno -->
            <button type="submit">Dodaj do koszyka</button>
        </form>

    </div>
</div>
</body>
</html>
